.hidden {
  display: none !important;
}

.transparent {
  opacity: 0.2;
}

.placehold {
  background-color: rgba(180, 180, 180, 0.72);
}


span.focus {
  filter: blur(4px);
  -webkit-filter: blur(4px);
}

span.hello {
  font-size: 6vmax !important;
}


.in-focus-bg {
  background: -moz-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(227,227,227,1) 33%, rgba(217,217,217,1) 33%, rgba(254,254,254,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(240,240,240,1)), color-stop(33%, rgba(227,227,227,1)), color-stop(33%, rgba(217,217,217,1)), color-stop(100%, rgba(254,254,254,1)));
  background: -webkit-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(227,227,227,1) 33%, rgba(217,217,217,1) 33%, rgba(254,254,254,1) 100%);
  background: -o-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(227,227,227,1) 33%, rgba(217,217,217,1) 33%, rgba(254,254,254,1) 100%);
  background: -ms-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(227,227,227,1) 33%, rgba(217,217,217,1) 33%, rgba(254,254,254,1) 100%);
  background: linear-gradient(to bottom, rgba(240,240,240,1) 0%, rgba(227,227,227,1) 33%, rgba(217,217,217,1) 33%, rgba(254,254,254,1) 100%);
}

.out-focus-bg {
  background: -moz-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(217,217,217,1) 31%, rgba(254,254,254,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(240,240,240,1)), color-stop(31%, rgba(217,217,217,1)), color-stop(100%, rgba(254,254,254,1)));
  background: -webkit-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(217,217,217,1) 31%, rgba(254,254,254,1) 100%);
  background: -o-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(217,217,217,1) 31%, rgba(254,254,254,1) 100%);
  background: -ms-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(217,217,217,1) 31%, rgba(254,254,254,1) 100%);
  background: linear-gradient(to bottom, rgba(240,240,240,1) 0%, rgba(217,217,217,1) 31%, rgba(254,254,254,1) 100%);
}



span.intro {
  font-size: 48px;
  color: #414141;
  font-family: sans-serif;
  font-family: "Roboto",sans-serif;
  font-weight: 100;
  -moz-osx-font-smoothing: grayscale;
  transition: 1s all ease;
}
span.bold {
  font-weight: 300;
  filter: blur(0px);
  -webkit-filter: blur(0px);
}

.intro-text{
  transition: 1s all ease;
}

.intro-container {
  margin-top: 35vh;
}

.page {
  z-index: 1;
}

.bg-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position:fixed;
  top:0;
  left:0;
  transition: 1s all ease;
}

.hello-message {
  position: absolute;
  font-family: "Roboto",sans-serif;
  font-size: 5vmax;
  font-weight: 100;
  color: rgb(88, 88, 88);
  right: 34%;
  top: 40%;
  transition: .8s all ease;
}

.speck{
  border-radius: 50%;
  position: absolute;
  transition: .4s all ease;
}

.special-speck{
  border-radius: 50%;
  position: absolute;;
  /*transition: .4s all ease;*/
  -moz-transition: 1s -moz-filter linear;
  background: url('imgs/ralph.gif') center center no-repeat;
  background-size: cover;
  /*filter: url(blur.svg#blur);*/
}



.size-1 {
  width: 3vmax;
  height: 3vmax;
  background-color: rgb(234, 234, 234);
  filter: blur(5px);
  -webkit-filter: blur(5px);
}
.size-2 {
  width: 8vmax;
  height: 8vmax;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  background-color: rgb(223, 223, 223);

}
.size-3 {
  width: 15vmax;
  height: 15vmax;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  background-color: rgb(209, 209, 209);
}
.size-3-hello {
  width: 15vmax;
  height: 15vmax;
  background-color: rgb(209, 209, 209);
}
.size-4 {
  width: 18vmax;
  height: 18vmax;
  filter: blur(22px);
  -webkit-filter: blur(22px);
  background-color: rgb(180, 180, 180);
}
.size-5 {
  width: 27vmax;
  height: 27vmax;
  filter: blur(35px);
  -webkit-filter: blur(35px);
  background-color: rgb(146, 146, 146);

}



.delay-1 {
  animation-delay: .5s !important;
}
.delay-2 {
  animation-delay: .1s !important;
}
.delay-3 {
  animation-delay: 1.4s !important;
}
.delay-4 {
  animation-delay: 1.8s !important;
}



.in-focus {
  filter: blur(0px) !important;
  -webkit-filter: blur(0px) !important;
  opacity: 1 !important;
}

.add-blur {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}


.highBlur {
  opacity: 0.5 !important;
  filter: blur(20px) !important;
  -webkit-filter: blur(20px) !important;
}




video.addImg {
  display: block;
  height: 100%;
  width: auto;
  margin-left: -31%;
}

.imgtest {
  animation: bgIn 1.5s ease 1;
  -moz-animation: bgIn 1.5s ease 1;
}
@-moz-keyframes bgIn { from { opacity:0; } to { opacity:1; } }
@keyframes bgIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}





.floating {
  animation: float 8s ease infinite;
}

@keyframes float {
  50% {
     transform: translate(0, 35px);
  }
}


.blurOut {
  animation: blur-in 3s ease-out 1;
  -webkit-animation: blur-in 3s ease-out 1;
  -moz-animation:  blur-in 3s ease-out 1;
  -webkit-animation-direction: reverse; /* Chrome, Safari, Opera */
  animation-direction: reverse;
}



.blurIn-low {
  animation: blur-in-low 3.5s ease 1;
  -webkit-animation: blur-in-low 3.5s ease 1;
  -moz-animation:  blur-in-low 3.5s ease 1;
  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
}

@keyframes blur-in-low {
  0% {
     filter: blur(25px);
     -webkit-filter: blur(25px);
     opacity: 0.6;
     /*transform: scale(1.3, 1.3);*/
  }
  100% {
    filter: blur(0px);
    -webkit-filter: blur(0px);
    opacity: 1;
   /*transform: scale(1, 1);*/
  }
}


.blurIn {
  animation: blur-in 3.5s ease 1 !important;
  -webkit-animation: blur-in 3.5s ease 1 !important;
  -moz-animation:  blur-in 3.5s ease 1 !important;
}

@keyframes blur-in {
  0% {
     transform: scale(9, 9);
     -webkit-transform: scale(9, 9);
     filter: blur(30px);
     -webkit-filter: blur(30px);
     -moz-filter   : blur(30px);
     opacity: 0;
  }
  70%, 80% {
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    filter: blur(0px);
    -webkit-filter: blur(0px);
    -moz-filter   : blur(0px);
    opacity: 0.8;
  }
  87% {
    transform: scale(0.9, 0.9);
    -webkit-transform: scale(0.9, 0.9);
    filter: blur(15px);
    -webkit-filter: blur(15px);
    -moz-filter   : blur(15px);
  }
  90% {
    filter: blur(0px);
    -webkit-filter: blur(0px);
    -moz-filter   : blur(0px);
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    opacity: 0.9;
  }
  95% {
    transform: scale(1.5, 1.5);
    -webkit-transform: scale(1.5, 1.5);
    filter: blur(10px);
    -webkit-filter: blur(10px);
    -moz-filter   : blur(10px);
    opacity: 0.8;
  }
  100% {
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    filter: blur(0px);
    -webkit-filter: blur(0px);
    -moz-filter   : blur(0px);
    opacity: 1;
  }

}




.blurOutSubtle {
  animation: blur-out-subtle 1.2s ease-out 1;
  -webkit-animation: blur-out-subtle 1.2s ease-out 1;
  -moz-animation:  blur-out-subtle 1.2s ease-out 1;
}

.blurInSubtle {
  animation: blur-out-subtle 1s ease 1;
  -webkit-animation: blur-out-subtle 1s ease 1;
  -moz-animation:  blur-out-subtle 1s ease 1;
  -webkit-animation-direction: reverse; /* Chrome, Safari, Opera */
  animation-direction: reverse;
  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
}


@keyframes blur-out-subtle {
  0% {
    filter: blur(0px);
    -webkit-filter: blur(0px);
    -moz-filter   : blur(0px);
    opacity: 1;
  }
  100% {
     filter: blur(30px);
     -webkit-filter: blur(30px);
     -moz-filter   : blur(30px);
     opacity: 0;
  }

}





/*@keyframes seqText {
  0% { opacity: 0; },
	100% { opacity: 1; }
}
#intro-text span {
	animation: seqText 2s forwards;

}
#intro-text span:nth-child(1) {
	animation-delay: .5s;
}
#intro-text span:nth-child(2) {
	animation-delay: 1s;
}
#intro-text span:nth-child(3) {
	animation-delay: 1.5s;
}*/

/* make keyframes that tell the start state and the end state of our object */

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn 1.5s ease-in 1, float 8s ease infinite;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn 1.5s ease-in 1, float 8s ease infinite;
	animation: fadeIn 1.5s ease-in 1, float 8s ease infinite;

	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	/*-webkit-animation-duration:.5s;
	-moz-animation-duration:.5s;
	animation-duration:.5s;*/

}

.fade-in.fast {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn .5s ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn .5s ease-in 1;
  animation: fadeIn .5s ease-in 1;
  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
}





.fade-in-long {
	opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn 1s ease-in 1, float 8s ease infinite;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn 1s ease-in 1, float 8s ease infinite;
	animation: fadeIn 1s ease-in 1, float 8s ease infinite;

	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

}

.fade-in.zero {
-webkit-animation-delay: 0.3s;
-moz-animation-delay: 0.3s;
animation-delay: 0.s;
}

.fade-in.one {
-webkit-animation-delay: 0.5s;
-moz-animation-delay: 0.5s;
animation-delay: 0.5s;
}

.fade-in.two {
-webkit-animation-delay: 0.9s;
-moz-animation-delay:0.9s;
animation-delay: 0.9s;
}

.fade-in.three {
-webkit-animation-delay: 1.2s;
-moz-animation-delay: 1.2s;
animation-delay: 1.2s;
}
