.temp {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,efefef+13,ffffff+100 */
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #efefef 13%, #ffffff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#efefef 13%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #ffffff 0%,#efefef 13%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}


.hidden {
  display: none !important;
}

.transparent {
  opacity: 0.2;
}

.placehold {
  background-color: rgba(180, 180, 180, 0.72);
}

span.intro {
  font-size: 48px;
  color: #414141;
  font-family: sans-serif;
  font-family: "Roboto",sans-serif;
  font-weight: 100;
  -moz-osx-font-smoothing: grayscale;
  transition: 1s all ease;
}
span.bold {
  font-weight: 300;
  filter: blur(0px);
  -webkit-filter: blur(0px);
}

.intro-text{
  transition: 1s all ease;
}

.intro-container {
  margin-top: 40vh;
}

.page {
  z-index: 1;
}

.bg-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position:fixed;
  top:0;
  left:0;
}



.speck{
  border-radius: 50%;
  position: absolute;
  transition: .4s all ease;
}



.size-1 {
  width: 3vmax;
  height: 3vmax;
  background-color: rgb(234, 234, 234);
  filter: blur(5px);
  -webkit-filter: blur(5px);
}
.size-2 {
  width: 8vmax;
  height: 8vmax;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  background-color: rgb(223, 223, 223);

}
.size-3 {
  width: 15vmax;
  height: 15vmax;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  background-color: rgb(209, 209, 209);
}
.size-4 {
  width: 18vmax;
  height: 18vmax;
  filter: blur(22px);
  -webkit-filter: blur(22px);
  background-color: rgb(180, 180, 180);
}
.size-5 {
  width: 27vmax;
  height: 27vmax;
  filter: blur(35px);
  -webkit-filter: blur(35px);
  background-color: rgb(146, 146, 146);

}



.delay-1 {
  animation-delay: .5s !important;
}
.delay-2 {
  animation-delay: .1s !important;
}
.delay-3 {
  animation-delay: 1.4s !important;
}
.delay-4 {
  animation-delay: 1.8s !important;
}



.in-focus {
  filter: blur(0px) !important;
  -webkit-filter: blur(0px) !important;
  opacity: 1 !important;
}

.add-blur {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}


.highBlur {
  opacity: 0.5 !important;
  filter: blur(20px) !important;
  -webkit-filter: blur(20px) !important;
}




video.addImg {
  display: block;
  height: 100%;
  width: auto;
  margin-left: -31%;
}

.imgtest {
  animation: bgIn 1.5s ease 1;
  -moz-animation: bgIn 1.5s ease 1;
}
@-moz-keyframes bgIn { from { opacity:0; } to { opacity:1; } }
@keyframes bgIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}





.floating {
  animation: float 8s ease infinite;
}

@keyframes float {
  50% {
     transform: translate(0, 35px);
  }
}



/*@keyframes seqText {
  0% { opacity: 0; },
	100% { opacity: 1; }
}
#intro-text span {
	animation: seqText 2s forwards;

}
#intro-text span:nth-child(1) {
	animation-delay: .5s;
}
#intro-text span:nth-child(2) {
	animation-delay: 1s;
}
#intro-text span:nth-child(3) {
	animation-delay: 1.5s;
}*/

/* make keyframes that tell the start state and the end state of our object */

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn 1.5s ease-in 1, float 8s ease infinite;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn 1.5s ease-in 1, float 8s ease infinite;
	animation: fadeIn 1.5s ease-in 1, float 8s ease infinite;

	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	/*-webkit-animation-duration:.5s;
	-moz-animation-duration:.5s;
	animation-duration:.5s;*/

}

.fade-in.fast {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn .3s ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn .3s ease-in 1;
  animation: fadeIn .3s ease-in 1;
  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
}





.fade-in-long {
	opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn 1s ease-in 1, float 8s ease infinite;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn 1s ease-in 1, float 8s ease infinite;
	animation: fadeIn 1s ease-in 1, float 8s ease infinite;

	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

}

.fade-in.zero {
-webkit-animation-delay: 0.3s;
-moz-animation-delay: 0.3s;
animation-delay: 0.s;
}

.fade-in.one {
-webkit-animation-delay: 0.5s;
-moz-animation-delay: 0.5s;
animation-delay: 0.5s;
}

.fade-in.two {
-webkit-animation-delay: 0.9s;
-moz-animation-delay:0.9s;
animation-delay: 0.9s;
}

.fade-in.three {
-webkit-animation-delay: 1.2s;
-moz-animation-delay: 1.2s;
animation-delay: 1.2s;
}
